@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome in your own Shopping List App</h1>

<p>Here you can create your own shopping lists.</p>

<p>Click on the "Shopping Lists" link in the navigation bar to get started.</p>

<p>Enjoy!</p>
