.controlNav {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.controlNav div {
    margin-right: 10px;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item-card {
    flex: 0 1 calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
}