@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/uknowmee" target="_blank">Author</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An error has occurred.
    <a href="" class="reload">Please Reload</a>
    The page
    <a class="dismiss">🗙</a>
</div>